{% extends "layout.html" %}

{% block content %}
<h1>Start a new capture</h1>
<div class="content-section">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Enter information</legend>
            <div class="form-group">
                {{ form.title.label(class='form-control-label') }}

                {% if form.title.errors %}
                    {{ form.title(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.title(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.desc.label(class='form-control-label') }}

                {% if form.desc.errors %}
                    {{ form.desc(class='form-control form-control-lg is-invalid') }}
                    <div class="invalid-feedback">
                        {% for error in form.desc.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.desc(class='form-control form-control-lg') }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.channel.label(class='form-control-label') }}
                {{ form.channel(class='form-control') }}
            </div>
            <!-- GPS checkbox -->
            <div class="form-check">
                {% if gps_available %}
                  {{ form.gpsTracking(class='form-check-input') }}
                {% else %}
                  {{ form.gpsTracking(class='form-check-input', **{'disabled': disabled}) }}
                {% endif %}
                {{ form.gpsTracking.label(class='form-check-label') }}
                
                {% if not gps_available %}
                    <div><small class="text-muted">No GPS available. Activate it in the settings or wait until a connection is established.</small></div>
                {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class='btn btn-outline-info') }}
        </div>
    </form>
</div>
{% endblock content %}