{% extends "layout.html" %}

{% block content %}
<h1>All captures </h1>
<p>Here you can see, edit and download all your captures.</p>
{% for capture in running %}
    <div class="card">
        <div class="card-header text-muted">
            Created: {{ capture.date_created.strftime('%d.%m.%Y %H:%M') }}
            Id: {{ capture.id }}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{ capture.title }}</h5>
        <p class="card-text">{{ capture.desc }}</p>
        <a href="{{ url_for('capture_show', id=capture.id) }}" class="btn btn-info">Show capture</a>
        <a href="{{ url_for('capture_stop', id=capture.id) }}" class="btn btn-danger">Stop capture</a>
        </div>
    </div>
{% endfor %}

<div>
    
</div>
{% endblock content %}