{% extends "layout.html" %}

{% block content %}
<h1>Capture {{ capture.title }}</h1>
<div class="card">
    <div class="card-header text-muted">
        Created: {{ capture.date_created.strftime('%d.%m.%Y %H:%M') }}
        Id: {{ capture.id }}
        GPS: {{ capture.gps }}
    </div>
    <div class="card-body">
    <h5 class="card-title">{{ capture.title }}</h5>
    <p class="card-text">{{ capture.desc }}</p>
    <a href="{{ url_for('capture_stop', id=capture.id) }}" class="btn btn-danger">Stop capture</a>
    </div>
</div>
<p class="lead">Anzahl der Pakete: <b><span id="num-packets"></span></b></p>

<div class="text-center mt-4 mb-4">
    <a class="btn btn-link btn-lg" href="{{url_for('home')}}">Back</a>
</div>


<script>
    "use strict";
    function loadInfo() {
        let request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                let capture = JSON.parse(this.responseText)
                document.getElementById("num-packets").innerHTML = capture.num_packets;
            }
        };
        request.open("GET", "{{  url_for('capture_get', id=capture.id) }}")       
        request.send();
    }

    //use fetch instead?

    document.addEventListener("DOMContentLoaded", function() {
        setInterval(loadInfo, 1000) //setInterval could be replaced 
    });
</script>
{% endblock content %}