{% extends 'layout.html' %}

{% block content %}
    <h1>Detect Access Points</h1>
    <p>A list of WiFi Acess Points in your vicinity.</p>

    <div class="text-center mt-4 mb-4">
      {% if running %}
      <a class="btn btn-danger btn-lg" href="{{url_for('detect_stop')}}">Stop detection</a>
      {% else %}
        <a class="btn btn-success btn-lg" href="{{url_for('detect_start')}}">Start detection</a>
      {% endif %}
    </div>
    
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">BSSID</th>
            <th scope="col">SSID</th>
            <th scope="col">CH</th>
            <th scope="col">Signal Strength</th>
            <th scope="col">Enc</th>
            <th scope="col">Vendor</th>
          </tr>
        </thead>
        <tbody id=aps>
          <!-- java script will place aps here -->
        </tbody>
      </table>
    <script>
      "use strict";
      
      function createNode(element) {
          return document.createElement(element);
      }

      function append(parent, el) {
        return parent.appendChild(el);
      }

      function create_link(ssid, bssid) {
        var a = document.createElement("a")
        var linkText = document.createTextNode(ssid);
        a.appendChild(linkText);
        a.href = "./detect/aps/" + bssid + "/" + ssid
        return a
      }

      function refresh() {
        const table = document.getElementById("aps");
        //first remove old content
        table.innerHTML = ""
        //then replace with updated information
        fetch("{{ url_for('detect_get') }}")
          .then(response => response.json())
          .then(function(data) {
            let aps = data.aps
            for(let mac in aps) {
              let bssid = aps[mac][0]
              let ssid = aps[mac][1]
              let channel = aps[mac][2]
              let signal_strength = aps[mac][3]
              let encryption = aps[mac][4]
              let vendor = aps[mac][5]
              
              let tr = createNode('tr')
              let td_bssid = createNode('td')
              td_bssid.innerHTML = bssid
              let td_ssid = createNode('td')
              
              let a = create_link(ssid, bssid)
              append(td_ssid, a)

              //td_ssid.innerHTML = ssid
              let td_channel = createNode('td')
              td_channel.innerHTML = channel
              let td_strength = createNode('td')
              td_strength.innerHTML = signal_strength
              let td_encryption = createNode('td')
              td_encryption.innerHTML = encryption
              let td_vendor = createNode('td')
              td_vendor.innerHTML = vendor

              append(table, tr);
              append(tr, td_bssid);
              append(tr, td_ssid);
              append(tr, td_channel);
              append(tr, td_strength);
              append(tr, td_encryption);
              append(tr, td_vendor);
            }
          })
          .catch(function(error) {
            console.log(error);
          });
      }
      
      refresh()
      document.addEventListener("DOMContentLoaded", function() {
        setInterval(refresh, 7000) //setInterval could be replaced 
      });
    </script>
{% endblock content %}