{% extends "layout.html" %}

{% block content %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="{{ url_for('static', filename='js/leaflet.min.js') }}"></script>

{% if not available %}
<div class="alert alert-danger" role="alert">
    No GPS Connection
</div>
{% else %}
<div class="alert alert-success" role="alert">
    GPS Connection Available
</div>
{% endif %}

<h2>Current Location</h2>

<div class="text-center mt-4 mb-4">
    {% if running %}
      <a class="btn btn-danger btn-lg" href="{{url_for('gps_stop')}}">Stop GPS module</a>
    {% else %}
      <a class="btn btn-success btn-lg" href="{{url_for('gps_start')}}">Start GPS module</a>
    {% endif %}
</div>

<div id="mapid" style="height: 500px;"></div>

<script type="text/javascript">
    "use strict";
    
    //use parseFloat to get rid of leading zeros which result in a syntax error
    let lat = parseFloat("{{ lat }}");
    let lon = parseFloat("{{ lon }}");
    //var mymap = L.map('mapid').setView([49.77915766666667, 11.1776305], 18);
    let mymap = L.map('mapid').setView([lat, lon], 18);

    //da muss man sich registrieren / braucht access token
    // L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    //     attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    //     maxZoom: 20,
    //     id: 'mapbox/streets-v11',
    //     tileSize: 512,
    //     zoomOffset: -1,
    //     accessToken: 'pk.eyJ1IjoianVsaWFud2luZGVjayIsImEiOiJja2tmcTBxdHkwdzZ2MnFxdDJpZDExdXV1In0.abm2_5VInUX9Wb0sGPj-dA'
    // }).addTo(mymap);
    
    
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        'attribution':  'Kartendaten &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> Mitwirkende',
        'useCache': true,
        'maxZoom': 19, //hoechstmoeglicher wert fuer openstreetmap.org
        'zoomOffset':  0
    }).addTo(mymap);

    let mewIcon = L.icon({
        iconUrl: '{{ url_for("static", filename="img/mew.png") }}',
        iconSize: [50, 50],
        iconAnchor: [25, 25],
        popupAnchor: [20, 20]
    });

    let currentPos = L.marker([lat, lon], {opacity: 0.9, icon: mewIcon}).addTo(mymap)

</script>
{% endblock content %}

  