{% extends "layout.html" %}

{% block content %}
<h1>Dashboard</h1>
<p>Here you can find all the relevant information.</p>

{% if not interface_available %}
<div class="card mt-4 mb-4">
  <div class="card-body text-justify">
    No interface with monitor mode active. In order to capture packets, activate monitor mode for one of your wireless interfaces.
    <div class="text-center">
      <a class="btn btn-primary btn-lg mt-3" href="{{ url_for('settings') }}">Activate Monitor Mode</a>
    </div>
  </div>
</div>
{% endif %}

<div>
  <h2>Running Captures</h2>
    {% if not running %}
      <p>Currently there is no running capture</p>
      <p class="text-muted">Want to <a href="{{url_for('new_capture')}}">start one now</a>?</p>
    {% endif %}
    {% for capture in running %}
    <div class="card">
        <div class="card-header text-muted">
            Created: {{ capture.date_created.strftime('%d.%m.%Y %H:%M') }}
            Id: {{ capture.id }}
            GPS: {{ capture.gps }}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{ capture.title }}</h5>
        <p class="card-text">{{ capture.desc }}</p>
        <a href="{{ url_for('capture_show', id=capture.id) }}" class="btn btn-info mb-1">Show capture</a>
        <a href="{{ url_for('capture_stop', id=capture.id) }}" class="btn btn-danger mb-1">Stop capture</a>
        </div>
    </div>
    {% endfor %}
</div><!-- end running captures -->

<div class="mt-4">
    <h2>Finished Captures</h2>
    
    <!-- Capture All captures -->
    {% if old_capture_all %}
    <div class="mt-2">
      <h3>Capture All Mode</h3>
      {% for capture in old_capture_all %}
        {% if capture.id % 2 == 0 %}
            <div class="row">
        {% endif %}
          <div class="col-sm-6">
              <div class="card">
                  <div class="card-header text-muted">
                      Created: {{ capture.date_created.strftime('%d.%m.%Y %H:%M') }}
                      Id: {{ capture.id }}
                      GPS: {{ capture.gps }}
                  </div>
                  <div class="card-body">
                  <h5 class="card-title">{{ capture.title }}</h5>
                  <p class="card-text">{{ capture.desc }}</p>
                  <a href="{{ url_for('capture_download', id=capture.id) }}" class="btn btn-info mb-1">Download</a>
                  <a href="{{ url_for('capture_delete', id=capture.id) }}" class="btn btn-danger mb-1">Delete capture</a>
                  </div>
              </div>
          </div>
        {% if capture.id % 2 == 1 %}
          </div>
        {% endif %}
      {% endfor %} 
    </div> <!-- end capture all captures -->
    {% endif %}

    <!-- Capture All captures -->
    {% if old_wardriving %}
    <div class="mt-2">
      <h3>Wardriving Mode</h3>
      {% for capture in old_wardriving %}
        {% if capture.id % 2 == 0 %}
            <div class="row">
        {% endif %}
          <div class="col-sm-6">
              <div class="card">
                  <div class="card-header text-muted">
                      Created: {{ capture.date_created.strftime('%d.%m.%Y %H:%M') }}
                      Id: {{ capture.id }}
                      GPS: {{ capture.gps }}
                  </div>
                  <div class="card-body">
                  <h5 class="card-title">{{ capture.title }}</h5>
                  <p class="card-text">{{ capture.desc }}</p>
                  <a href="{{ url_for('wardrive_capture_show', id=capture.id) }}" class="btn btn-info mb-1">Show Result</a>
                  <a href="{{ url_for('capture_delete', id=capture.id) }}" class="btn btn-danger mb-1">Delete capture</a>
                  </div>
              </div>
          </div>
        {% if capture.id % 2 == 1 %}
          </div>
        {% endif %}
      {% endfor %} 
    </div> <!-- end capture all captures -->
    {% endif %}
    
</div>
{% endblock content %}