{% extends "layout.html" %}

{% block content %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="{{ url_for('static', filename='js/leaflet.min.js') }}"></script>   
<script src="{{ url_for('static', filename='js/leaflet-heat.min.js') }}"></script> 

<h2>Map: {{ map.title }}</h2>
{% if map.desc %}
<p>{{ map.desc }}</p>
{% endif %}


<div id="mapid" style="height: 500px;"></div>

<script type="text/javascript">    
    "use strict";
    
    //you could also directly assign it to {{ map.id }} (parseInt() is not necessary)
    //but this way we avoid annoying error highlighting
    let mapID = parseInt("{{ map.id }}");
    let apiToken = "{{ api_token }}";


    let map = L.map('mapid');

    //Tiles
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        'attribution':  'Kartendaten &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> Mitwirkende',
        'useCache': true,
        'maxZoom': 19, //hoechstmoeglicher wert fuer openstreetmap.org
        'zoomOffset':  0,
        'noWrap': true
    }).addTo(map);

    //icon for APs
    let wifiIcon = L.icon({
        iconUrl: '{{ url_for("static", filename="img/marker.png") }}',
        iconSize: [26, 22],
        iconAnchor: [13, 11],
        popupAnchor: [0, 0]
    });

    //as soon as the map zoom is higher than this threshold, single markers
    //for every discovery instead of a heatmap is shown
    let heat_map_zoom_threshold = 17;

    //show discoveries as heat map
    let heatLayer = L.heatLayer([[0, 0, 0.2]], {
        //intensity of color of points increases with zoom and reaches its
        //maximum on maxZoom 
        maxZoom: heat_map_zoom_threshold, 
        //radius of each "point" of the heatmap
        radius: 25, //default is 25
        //amount of blur
        blur: 10, //default is 15
        //the minimum opacity the heat will start at
        minOpacity: 0.4 //default is 0.05
    }).addTo(map);

    //add all markers for single discoveries to this layer 
    //(makes it easy to find/delete all markers)
    let markerLayer = L.layerGroup();
    markerLayer.addTo(map);

    //whenever the map section changes, this function is called to 
    //show the discoveries of this section
    async function updateMap(e) {
        //get boundaries of map section
        let bounds = map.getBounds();
        let bottom_left = bounds.getSouthWest()
        let top_right = bounds.getNorthEast() 

        console.log(bottom_left, top_right)

        //retrieve all discoveries that are within this map section
        let url = "http://localhost:4242/maps/" + mapID + "/aps?" + new URLSearchParams({
            lat1: bottom_left.lat,
            lon1: bottom_left.lng,
            lat2: top_right.lat,
            lon2: top_right.lng 
        });
        
        //execute API call
        let response = await fetch(url, {
            headers: {
                'x-access-token': apiToken
            }
        });
        let discoveries = (await response.json())["discoveries"]; 

        //remove the markers of discoveries which were within the old map section
        markerLayer.clearLayers();
        heatLayer.setLatLngs([]);

        //now actually display discovery information of this map section

        //show markers
        if(map.getZoom() > heat_map_zoom_threshold) {
            for(let i = 0; i < discoveries.length; i++) {
                let d = discoveries[i];
                //create marker for discovery
                let marker = L.marker([d["gps_lat"], d["gps_lon"]], {opacity: 0.8, icon: wifiIcon}).addTo(markerLayer);
                //add discovery information as popup to marker
                //TODO: add other Discovery infos (AND vendor information !!)
                let text = "<ul><li>BSSID:\t"+d["access_point_mac"]+"</li>" +
                        "<li>Channel:\t<span class='badge badge-primary'>"+d["channel"]+"</span></li>" + 
                        "<li>Signal Strength:\t<span class='badge badge-primary'>"+d["signal_strength"]+"</span></li>"
                    "</ul>"
                marker.bindPopup("<b>"+d["ssid"]+"</b>" + text);
            }
        }
        //else show heatmap
        else {
            let coordinates = [];
            for(let i = 0; i < discoveries.length; i++) {
                let discovery = discoveries[i];
                coordinates.push([discovery["gps_lat"], discovery["gps_lon"]]);
            }
            heatLayer.setLatLngs(coordinates);
        }
                
        
    }
    
    //update map when it is first loaded
    map.on("load", updateMap);
    //update map whenever user zooms
    map.on("zoomend", updateMap);
    //update map whenever user moves around map
    map.on("moveend", updateMap);
    
    //TODO: directly show area with discoveries on a higher zoom level
    map.fitWorld()
    
</script>
{% endblock content %}

  