{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Register device</legend>
                <div>
                    <p>You have to register the sniffer in order to contribute your data to the server.
                    In order to do that, just choose a unique name for this sniffer.
                    </p>
                </div>
                <div class="form-group">
                    {{ form.device_name.label(class="form-control-label") }}

                    {% if form.device_name.errors %}
                        {{ form.device_name(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.device_name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.device_name(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    
{% endblock content %}