{% extends 'layout.html' %}

{% block content %}
<h1>Server Home</h1>
<p>You are now accessing server data.</p>

{% if not device_registered %}
<div class="card mt-4 mb-4">
  <div class="card-body text-justify">
    This device has not been registered on the server yet. In order to participate, please click "Register".
    <div class="text-center">
      <a class="btn btn-danger btn-lg mt-4" href="{{url_for('server_register_device')}}">Register this device now</a>
    </div>
  </div>
</div>
{% else %} <!-- if device IS registered -->
<div class="text-center">
  {% if not admin %} 
      <a class="btn btn-success btn-lg" href="{{url_for('server_connect')}}">Login as admin</a>
  {% else %}
      <a class="btn btn-success btn-lg" href="{{url_for('server_connect_device')}}">Connect device</a> 
  {% endif %}
</div>
{% endif %}

{% if device_registered %}
<div class="mt-3">
  <h2>Online Wardriving Maps</h2>
    {% for map in online_maps %}
    <div class="card">
        <div class="card-header text-muted">
            Created: {{ map.get("date_created") }}
            Id: {{ map.get("id") }}
        </div>
        <div class="card-body">
        <h5 class="card-title">{{ map.get("title") }}</h5>
        <p class="card-text">{{ map.get("desc") }}</p>
        <a href="{{ url_for('server_map_show', id=map.get('id')) }}" class="btn btn-info mb-1">Show map</a>
        <a href="{{ url_for('server_map_participate', id=map.get('id')) }}" class="btn btn-info mb-1">Participate</a>
        <a href="{{ url_for('server_map_delete', id=map.get('id')) }}" class="btn btn-danger mb-1">Delete</a>
        </div>
    </div>
    {% endfor %}
</div><!-- end of maps -->
{% endif %}

{% if local_maps %}
<div class="mt-3">
  <h2>Local Maps</h2>
    {% for map in local_maps %}
    <div class="card">
        <div class="card-header text-muted">
            Id: {{ map.id }}
            Remote-Id: {{ map.server_map_id }}
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ map.title }}</h5>
          <p class="card-text">{{ map.desc }}</p>
          <a href="{{ url_for('server_map_local_delete', id=map.id) }}" class="btn btn-danger mb-1">Delete local data</a>
        </div>
    </div>
    {% endfor %}
</div><!-- end of maps -->
{% endif %}
    
{% endblock content %}