{% extends "layout.html" %}

{% block content %}
<h1>Settings</h1>
<p>Configure your device here.</p>

<div>
  <h2>Interfaces</h2>
  All interfaces that are set to monitor mode will be used for capturing.
  <div class="card">
    <ul class="list-group list-group-flush">
      {% for iface in managed %}
      <li class="list-group-item">
        {{ iface.get_managed_name() }}
        <a class="btn btn-primary btn-sm ml-4" href="{{ url_for('activate_monitor', interface=iface.name) }}">Activate Monitor Mode</a>
        <p class="small text-muted mt-1 mb-0">
          Supported channels: {{ iface.get_channel_string() }}
        </p>
      </li>
      {% endfor %}
      {% for iface in monitor %}
      <li class="list-group-item">
        {{ iface.get_monitor_name() }}
        <a class="btn btn-danger btn-sm ml-1" href="{{ url_for('deactivate_monitor', interface=iface.name) }}">Deactivate</a>
        <p class="small text-muted mt-1 mb-0">
          Supported channels: {{ iface.get_channel_string() }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>
  <p class="mt-1"><small class="text-muted small">
    One of these interfaces cannot be switched to monitor mode since it is the internal card which has no support for that. 
    Moreover, it is needed to serve as an access point so you can connect your devices ;)
  </small></p>
</div><!-- end interfaces -->

<!-- GPS -->
<div class="mt-4 text-justify">
  <h2>GPS</h2>
  <p>If you enable the integrated GPS module you are able to track your position during captures.</p>
  {% if gps_running %}
    <a class="btn btn-danger" href="{{url_for('gps_stop')}}">Stop GPS module</a>
  {% else %}
    <div class="text-center">
      <a class="btn btn-success" href="{{url_for('gps_start')}}">Start GPS module</a>
    </div>
  {% endif %}
</div>

<!-- external wifi access -->
<div class="mt-4 text-justify">
  <h2>WiFi-Access</h2>
  <p>Configure your device so it can access an external WiFi-network. Needed for updates and displaying maps.</p>
  <a class="btn btn-outline-primary" href="{{ url_for('configure_external_wifi') }}">Configure access</a>
  <p class="mt-2"><small>Your current IP address in the network which you are connected to is: <b>{{ ip_address }}</b></small></p>
</div>

<!-- distributed captures -->
<div class="mt-4 text-justify">
  <h2>Distributed Sniffing</h2>
  <p>Connect other sniffers to this device in order to use distributed captures.</p>
  <a class="nav-item nav-link" href=" {{ url_for('show_network_discovery') }}">Other Devices</a>
  <p class="mt-2"><small>You need to start the other participants in the corresponding mode and connect them to the wireless network of this device.</b></small></p>
</div>

<!-- distributed captures -->
<div class="mt-4 text-justify">
  <h2>wsniff-server</h2>
  <p>Connect this device to a wsniff-server.</p>
  <a class="nav-item nav-link" href=" {{ url_for('server_connect') }}">Connect to new server.</a>
  <p class="mt-2"><small>Using multiple sniffing units simultaneously which are all connected to a server will allow you to create wardriving maps even faster.</b></small></p>
</div>


<!-- download sniffer log -->
<div class="mt-4 text-justify">
  <h2>Logging</h2>
  <p>Download the log of this sniffer - including all interactions of the user and the process of distributed captures.</p>
  <a class="btn btn-outline-primary" href="{{ url_for('download_logfile') }}">Download log</a>
</div>

<!-- OUI -->
<div class="mt-4 text-justify">
  <h2>OUI</h2>
  <p>Organizationally Unique Identifier - used to identify the company behind a MAC-Address.</p>
  <a class="btn btn-outline-primary" href="{{ url_for('update_oui') }}">Update to newest version now</a>
  <p class="mt-1"><small class="text-muted small">This can take a while, so please wait for a reply message.
    Requires an active internet connection. 
  </small></p>
</div>

<div class="mt-5">
  <a class="btn btn-danger btn-block" href="{{ url_for('reboot') }}">Reboot</a>
</div>
<div class="mt-1">
  <a class="btn btn-danger btn-block" href="{{ url_for('shutdown') }}">Shutdown device</a>
</div>
{% endblock content %}