{% extends "layout.html" %}

{% block content %}
<!-- Make sure you put this AFTER Leaflet's CSS -->
<script src="{{ url_for('static', filename='js/leaflet.min.js') }}"></script>   

<h2>Capture: {{ capture.title }}</h2>


<div id="mapid" style="height: 500px;"></div>

<script type="text/javascript">    

        var aps = {{ aps_json | safe }}

        var mymap = L.map('mapid').setView(aps[0].location, 19);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            'attribution':  'Kartendaten &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> Mitwirkende',
            'useCache': true,
            'maxZoom': 19, //hoechstmoeglicher wert fuer openstreetmap.org
            'zoomOffset':  0
        }).addTo(mymap);

        let wifiIcon = L.icon({
            iconUrl: '{{ url_for("static", filename="img/marker.png") }}',
            iconSize: [26, 22],
            iconAnchor: [13, 11],
            popupAnchor: [0, 0]
        });
        
        var points = []

        for (let i = 0; i < aps.length; i++) {
            let ap = aps[i]
            points.push(ap.location)

            // if(i % 13 == 0) {
            //     let marker = L.marker(points[i], {opacity: 0.8, icon: wifiIcon}).addTo(mymap)
            //     let m2 = L.circleMarker(points[i], {color: '#d423bd', stroke: false, radius: 20}).addTo(mymap)
            //     marker.bindPopup("<b>Mockup AP</b><br>FritzBox 34324").openPopup();
            // }
        }

        var polyline = L.polyline(points, {smoothFactor: 3.0, color: '#23c8d4',opacity: 0.3}).addTo(mymap);
        mymap.fitBounds(polyline.getBounds());
    
        aps.forEach(function(ap) {
            let marker = L.marker(ap.location, {opacity: 0.8, icon: wifiIcon}).addTo(mymap)
            //let marker = L.marker(ap.location).addTo(mymap)
            let text = "<ul><li>BSSID:\t"+ap.bssid+"</li>" +
                            "<li>Channel:\t<span class='badge badge-primary'>"+ap.channel+"</span></li>" + 
                            "<li>Signal Strength:\t<span class='badge badge-primary'>"+ap.signal_strength+"</span></li>" + 
                            "<li>Vendor:\t"+ap.vendor+"</li>" + 
                        "</ul>"
            marker.bindPopup("<b>"+ap.ssid+"</b>" + text).openPopup();
        }); 
    
</script>
{% endblock content %}

  